<div id="landing" class="min-h-screen px-10">
	<%= render 'weihsihu/page_carousel', page: Current.tenant.pages.landing, hide_title: true %>
</div>
<% Current.tenant.pages.menu_pages.each do |page| %>
	<hr class="h-px bg-gray-200 border-0 dark:bg-gray-700 <%= Current.tenant.orientation == "left" ? "-ml-80" : "-mr-80" %>">
	<div class="min-h-screen py-12 px-10" id="<%= page.slug %>">
		<% if page.template %>
			<%= render "pages/#{page.template}", page: page %>
		<% else %>
			<%= render "pages/page", page: page %>
		<% end %>
	</div>
<% end %>
