
<%= simple_form_for([:admin, page]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :menu %>
    <%= f.association :site, value: Current.tenant&.id, label_method: :name, value_method: :id %>
    <%= f.input :slug %>
    <%= f.input :template, collection: Page.templates %>
    <%= f.simple_fields_for :contents do |contents_form| %>
      <%= contents_form.input :body, as: :text, input_html: { rows: "6" } %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
