<%= simple_form_for([:admin, page]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.hidden_field :updated_at, value: DateTime.current %>
    <%= f.input :title %>
    <%= f.input :menu %>
    <%= f.input :feature %>
    <%= f.file_field :feature_image %>
    <% if f.object.feature_image.attached? %>
      <h3 class="mt-4">Attached Feature Image</h3>
      <ul class="mb-4">
        <li><%= f.object.feature_image.filename %></li>
      </ul>
    <% end %>
    <%= f.association :site, value: Current.tenant&.id, label_method: :name, value_method: :id %>
    <%= f.input :template, collection: Page.templates %>
    <%= f.simple_fields_for :contents do |contents_form| %>
      <div id="contents">
        <%= render "admin/contents/content", f: contents_form %>
      </div>
      <div id="add-content"></div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
