
<%= simple_form_for([:admin, page]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :menu %>
    <%= f.input :feature %>
    <%= f.input :public %>
    <%= f.association :site, value: Current.tenant&.id, label_method: :name, value_method: :id %>
    <%= f.input :template, collection: Page.templates %>
    <%= f.simple_fields_for :contents do |contents_form| %>
      <%= contents_form.input :id, as: :hidden %>
      <h3>feature image</h3>
      <%= contents_form.file_field :image %>
      <h3 class="mt-4">Selected</h3>
      <div class="w-4 h-auto">
        <% if contents_form.object&.image&.attached? %>
          <%= image_tag contents_form.object.image  %>
          <%= link_to icon("trash"), delete_image_admin_content_path(id: contents_form.object&.id, image_id: contents_form.object.image.id), class: "h-5 w-5 bg-white opacity-80 rounded", data: {  "turbo-method": :delete, confirm: "Are you sure?" } %>
        <% end %>
      </div>
      <%= contents_form.input :heading %>
      <%= contents_form.input :summary %>
      <%= contents_form.input :body, as: :text, input_html: { rows: "6" } %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
