<tr id="<%= dom_id page %>" class="hover-row" data-sortable-update-url="<%= admin_page_path(page, site_id: page.site.id) %>">

  <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= link_to edit_admin_page_path(id: page, site_id: page.site.id) do %>
      <%= page.title %>
    <% end %>
  </th>
  <td class="py-4 px-2">
    <%= simple_form_for [:admin, page], url: admin_page_path(page, site_id: page.site.id), html: { "data-controller": "submit-by-click" } do |f| %>
      <%= f.input :menu, input_html: {
        id: "page_menu_page_#{page.id}",
        "data-action": "submit-by-click#submit"
      } %>
      <%= f.input :site_id, as: :hidden %>
    <% end %>
  </td>
  <td class="py-4 px-2">
    <%= simple_form_for [:admin, page], url: admin_page_path(page, site_id: page.site.id), html: { "data-controller": "submit-by-click" } do |f| %>
      <%= f.input :feature, input_html: {
        id: "page_feature_page_#{page.id}",
        "data-action": "submit-by-click#submit"
      } %>
      <%= f.input :site_id, as: :hidden %>
    <% end %>
  </td>
  <td class="py-4 px-2">
    <%= page.slug %>
  </td>
  <td class="py-4 px-2">
    <%= page.site.domain %>
  </td>
  <td>
    <%= link_to "Preview", admin_page_path(page, site_id: page.site.id), class: "btn btn-primary" %>
  </td>
</tr>
