<%= semantic_form_for [:admin, @gallery] do |f| %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :page %>
    <%= f.input :feature %>
    <%= f.input :row_order %>
  <% end %>
  <%= f.file_field :images, multiple: true, data: { action: "multi-upload#addFile"} %>
  <h2 class="mt-4">Attached Images</h2>
  <ul class="mb-4" data-multi-upload-target="files"></ul>
  <%= f.actions %>
<% end %>
