-# locals: (form: nil, fields:, options: {})

.grid.grid-cols-2.gap-2
  - Array(fields).each do |field|
    .flex.flex-col.gap-2
      .text-lg.font-semibold= field.to_s.humanize
      - form.has_many field, heading: false, allow_destroy: true do |f|
        = f.file_field field, **options
        = f.input :id, as: :hidden
        = f.input :kind
        = f.input :cid, disabled: true

        .mb-2
          %span.font-semibold Attached:
          - if f.object&.image&.attached?
            %span = f.object&.image.filename
