<div class="relative h-full" data-controller="<%= scroll_controller %>">
	<%= navigation %>
	<%#= navbar_component %>
	<div class=" <%= style_class %>">
		<%= content %>
	</div>
	<%= footer %>
</div>
