<div class="min-h-[500px] grid grid-cols-4 grid-rows-3 lg:grid-cols-4 lg:grid-rows-2 gap-4">
	<div class="col-span-4 lg:col-span-2 row-span-2 leading-normal tracking-normal text-white bg-gradient-to-r from-cyan-500 to-blue-500 min-w-screen w-full min-h-full flex flex-col justify-center items-center p-12 sm:p-28 text-center">
		<h1><%= Current.tenant.pages.landing.contents.first.heading %></h1>
		<p class="text-xl"><%= Current.tenant.pages.landing.contents.first.body %></p>
	</div>
	<% Current.tenant.pages.landing.galleries.featured.images.each do |image| %>
		<div><%= image_tag image %></div>
	<% end %>
</div>

<hr class="h-px bg-gray-200 border-0 dark:bg-gray-700 my-16">
<% Current.tenant.pages.feature.each do |page| %>
<h2><%= page.title %></h2>
<div class="flex text-center">
	<% contents_count = page.contents.size %>
	<% page.contents.each do |content| %>
		<div class="w-1/<%= contents_count %>">
			<div class="flex flex-col items-center">
				<div class="mb-4"><%= image_tag content.image %></div>
				<h3><%= content.heading %></h3>
			</div>
			<div class="px-8"><%= content.summary %></div>
		</div>
	<% end %>
</div>
<% end %>
