= render "components/box", bg: "bg-slate-200", with_logo: true do |partial|
  - partial.heading do
    Find out about our next event!

  - partial.body do
    %p Sign up to our mailing list to stay informed about our next events and other musical theatre news around town!

    = simple_form_for @person, url: burm_mailings_path, method: :post, html: { data: { turbo: false } } do |f|
      = render partial: "burm/recaptcha", locals: { action: "mailing"}

      = f.input :first_name
      = f.input :last_name
      = f.input :email
      = f.input :agree_to_terms, label: t("simple_form.labels.person.agree_to_terms_html")
      = f.input :agree_to_emails

      = f.button :submit
