%h1= "#{@musical.title}: Preparing for UnRehearsed"

%p= "Dear #{@person.first_name},"

%p
  = "Thank you very much for signing up to sing #{@musical.title} We're looking forward to see you all at"
  %b= "#{@musical.time} on #{@musical.date}!"

%p Today we're sending you information about role assignments and the music excerpts for the UnReherased.

%h2 Role Assignments:
- if @musical.roles.lead_role
  %b Lead roles
  %ul
    - @musical.roles.lead_role.each do |lead|
      %li= "#{lead.name}: #{lead.assigned_to}"

- if @musical.roles.supporting_role
  %b Supporting roles
  %ul
    - @musical.roles.supporting_role.each do |supporting|
      %li= "#{supporting.name}: #{supporting.assigned_to}"

- if @musical.roles.featured_role
  %b Featured roles
  %ul
    - @musical.roles.featured_role.each do |featured|
      %li= "#{featured.name}: #{featured.assigned_to}"

- if !(all_roles = @musical.roles.where(role_type: nil)).blank?
  %ul
    - all_roles.each do |role|
      %li= "#{role.name}: #{role.assigned_to}"


%h2 Music excerpts
%p
  You can download the music excerpts for the UnRehearsed here:
  .flex-center
    = link_to "Download music excerpt", @musical.excerpt_url || "", class: "btn btn-secondary"

- if @musical.songlist_url.present?
  %p
    To help you navigate the score, you can also download the list of songs and the roles that are singing them.
    .flex-center
      = link_to "Download song list", @musical.songlist_url || "", class: "btn btn-secondary"

%p
  As always, we ask every participant to contribute
  = @musical.fee_with_currency
  to cover the cost of running the workshop. Please make payment via the following:

  .flex-center
    = link_to "Pay via Paypal", "https://www.paypal.com/paypalme/waywho/15EUR", class: "btn btn-primary"

%p
  Looking forward to singing with you,
  %br
  %br
  WeiHsi
  %br
  Berlin UnRehearsed Musicals
