<div id="<%= dom_id media %>">
	<th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
		<%= link_to admin_media_path(media) do %>
			<%= media.title %>
		<% end %>
	</th>
	<td>
		<%= media.media_type %>
	</td>
	<td>
		<%= media.page.title %>
	</td>
</div>
