%div
  .grid.grid-cols-6.mb-4
    - @roles.each do |role|
      .flex
        - if @assigned_role_ids&.include?(role.id)
          .bg-green-200.px-3.py-2.rounded-lg= role.name
        - else
          .px-3.py-2.rounded-lg= role.name

  .grid.grid-cols-6.border.border-gray-200.rounded-lg.divide-y.divide-gray-200
    - ['Name', 'Voice type', 'Preferred role', 'Alternate role', 'Assigned role', 'Comments'].each do |header|
      .font-semibold.bg-gray-50.px-3.py-2= header
    - @signups.each do |signup|
      .px-3.py-2= signup.person ? signup.person.full_name : signup.person_name
      .px-3.py-2= signup.person&.voice_type
      .px-3.py-2= signup.role.name
      .px-3.py-2= signup.alternative_role&.name
      = simple_form_for signup, url: assign_roles_admin_burm_musical_path, method: :put, data: { controller: "submit-by-select" } do |s|
        = s.input :id, as: :hidden, input_html: { value: signup.id }
        = s.input :assigned_burm_role_id, collection: @roles, value_method: :id, label_method: :name, label: "", include_blank: true, required: false, input_html: { data: { action: "submit-by-select#submit" } }
      .px-3.py-2= signup.comments
