<%= simple_form_for signup, url: (signup.new_record? ? burm_signups_path(musical) : burm_signup_path(musical, signup)), html: { data: { turbo: false } } do |f| %>
  <%= render partial: "burm/recaptcha", locals: { action: "musical_signup"} %>
  <%= f.simple_fields_for :person do |person| %>
    <div class="md:grid md:grid-cols-2 gap-2">
      <%= person.input :first_name %>
      <%= person.input :last_name %>
      <%= person.input :email %>
      <%= person.input :voice_type, collection: BURM::Person.voice_types %>
    </div>
    <%= person.input :agree_to_terms, label: t("simple_form.labels.person.agree_to_terms_html") %>
    <%= person.input :agree_to_emails %>
  <% end %>
  <%= f.label :burm_role %>
  <%= f.hint :burm_role, class: "mb-2" %>

  <% roles[:lead]&.each do |roles| %>
    <div class="italic">Lead roles</div>
    <%= f.input :burm_role_id, as: :radio_buttons, collection: roles, label_method: :to_s, value_method: :id %>
  <% end %>

  <% roles[:supporting]&.each do |roles| %>
    <div class="italic">Supporting roles</div>
    <%= f.input :burm_role_id, as: :radio_buttons, collection: roles, label_method: :to_s, value_method: :id %>
  <% end %>

  <% roles[:featured]&.each do |roles| %>
    <div class="italic">Featured roles</div>
    <%= f.input :burm_role_id, as: :radio_buttons, collection: roles, label_method: :to_s, value_method: :id %>
  <% end %>

  <% roles[:nil]&.each do |roles| %>
    <%= f.input :burm_role_id, as: :radio_buttons, collection: roles, label_method: :to_s, value_method: :id %>
  <% end %>

  <% roles[:ensemble]&.each do |roles| %>
    <div class="italic">Ensemble</div>
    <%= f.input :burm_role_id, as: :radio_buttons, collection: roles, label_method: :to_s, value_method: :id %>
  <% end %>

  <%= f.input :alternative_role_id, collection: @musical.roles, label_method: :to_s, value_method: :id %>
  <%= f.input :role_sharing, as: :boolean %>
  <%= f.input :family_friends_watching, as: :boolean %>
  <%= f.input :commit_to_pay, as: :boolean, required: true %>
  <%= f.input :comments %>

  <%= f.button :submit %>
<% end %>
