<div class="min-h-[500px] grid grid-cols-4 grid-rows-3 lg:grid-cols-4 lg:grid-rows-2 gap-4">
  <div class="col-span-4 lg:col-span-2 row-span-2 leading-normal tracking-normal text-white bg-gradient-to-r from-cyan-500 to-blue-500 min-w-screen w-full min-h-full flex flex-col justify-center items-center p-12 sm:p-28 text-center">
    <h1><%= Current.tenant.landing_page.contents.first&.heading %></h1>
    <p class="text-xl"><%= Current.tenant.landing_page.contents.first&.body %></p>
  </div>
  <% Current.tenant.landing_page.featured_gallery&.images&.each do |image| %>
    <div style="background-image: url(<%= pinned_url_for(image) %>)" class="bg-center bg-no-repeat bg-cover w-full"></div>
  <% end %>
</div>

<% @pages.each do |page| %>
<hr class="h-px bg-gray-200 border-0 dark:bg-gray-700 my-16">
<div class="text-center">
<h2><%= page.title %></h2>
  <div class="flex justify-items-stretch text-center mt-16">
    <% page.contents.each do |content| %>
      <div class="flex-1 px-8">
        <div class="flex flex-col items-center">
          <% if content.image&.persisted? %>
            <div class="mb-4 w-28"><%= image_tag content.image %></div>
          <% end %>
          <% if content.heading %>
            <h3><%= content.heading %></h3>
          <% end %>
        </div>
        <div><%= raw content.summary %></div>
      </div>
    <% end %>
  </div>
</div>
<% end %>

