
<%= simple_form_for [:admin, @site] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.hidden_field :updated_at, value: DateTime.current %>
    <%= f.input :name %>
    <%= f.input :domain %>
    <%= f.input :subdomain %>
    <%= f.input :slug %>
    <%= f.input :orientation, collection: Site.orientations %>
    <%= f.input :subtitle %>
    <%= f.input :template_style, collection: Site.site_styles %>
    <label>Domain Aliases</label>
    <%= f.simple_fields_for :domain_aliases do |domain_alias| %>
      <%= domain_alias.input :id %>
      <%= domain_alias.input :domain %>
      <%= domain_alias.input :subdomain %>
    <% end %>
    <br />
    <%= f.input :public %>
    <%= f.file_field :logo %>
    <% if f.object.logo.attached? %>
      <h3 class="mt-4">Attached Logo</h3>
      <ul class="mb-4">
        <li><%= f.object.attached_logo.filename %></li>
      </ul>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
