	<tr id="<%= dom_id site %>" class="hover-row">
		<th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
			<%= link_to [:edit, :admin, site] do %>
				<%= site.name %>
			<% end %>
		</th>
		<td class="py-4 px-2">
			<%= site.subtitle %>
		</td>
		<td class="py-4 px-2">
			<%= site.subdomain %>
		</td>
		<td class="py-4 px-2">
			<%= site.domain %>
		</td>
		<td class="py-4 px-2">
			<%= site.slug %>
		</td>
		<td class="py-4 px-2">
			<%= site.orientation %>
		</td>
		<td class="py-4 px-2">
			<%= site.template_style %>
		</td>
	</tr>
